body{
  background-color:lightgray;
  color:white;
  padding-top: 60px;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:lightgray;
}

.row {
  background-color:lightgray;
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 5px;
  height: 550px;
  font-size: 20px;
   /* Should be removed. Only for demonstration */
}

.box-img {
  width: 100%;
  height: 100%;
  margin: 10px;
}

body {
  font-family: 'MuseoModerno', cursive;
}

.footer {
  background-color:lightgray;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fd03bf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #fd03bf}

.button:active {
  background-color: #fd03bf;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.sticky {
  position: fixed;
  top: 0;
  width: 102%;
  margin-left:-10px;
}